@font-face{
	font-family: 'Hiragino Kaku Gothic ProN';
	src: local("Hiragino Kaku Gothic ProN");
	font-weight:100;
}

@font-face{
	font-family: 'Meiryo';
	src: local("Meiryo");
	font-weight:100;
}

.main{
	display:block;
	background-color:#a8d5e7;
	text-align:center;
	font-family:Hiragino Kaku Gothic ProN,Meiryo;
}

#toptitle{
	display: inline-block;
	width : 100%;
	font-size: 64px;
	text-align:center;
	color:#f20f4d;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family:Hiragino Kaku Gothic ProN,Meiryo
}

.icon{
	display: inline-block;
	width : 100%;
	background-color:#a8d5e7;
	color:#f20f4d;
	text-align:center;
	font-size: 32px;
	font-family:Hiragino Kaku Gothic ProN,Meiryo
}

.name,.contact{
	display: inline-block;
	width : 100%;
	background-color:#a8d5e7;
	color:#f20f4d;
	text-align:center;
	font-size: 32px;
	font-family:Hiragino Kaku Gothic ProN,Meiryo
}

